.main-bg
  .row
    .small-12.large-6.large-offset-2.columns
      .callout
        Study better.
      %p
        We're making your studies more efficient by keeping track of the way you study, analyzing your performances and providing hints based on statistics.
      %p
        And we think that's pretty cool.
      .button
        Sign in
