= form_for @subgroup, url: course_subgroups_path do |f|
  =f.label :name, 'Name'
  =f.text_field :name

  =f.submit 'Save Subgroup'
%p
  = link_to 'Back', course_path(@course), class: 'button tiny secondary'
