%h2
  =@subgroup.name
%p
  =link_to "New assignment", new_subgroup_assignment_path(@subgroup)
%p 
  - @subgroup.assignments.each do |t|
    %p
      = t.name
      = link_to 'Edit', edit_subgroup_assignment_path(@subgroup, t)
%p
  = link_to 'Back', course_path(@subgroup.course), class: 'button tiny secondary'