%h2
  =@course.name
Summary:
%p
  =@course.summary
Syllabus:
%p
  =@course.syllabus

%p
- if @course.subgroups.count < 2
  = link_to 'Create subgroup', new_course_subgroup_path(@course), :class => 'button small'
%p
  - if @course.subgroups.count == 0
    No subgroups
%p
  - @course.subgroups.each do |t|
    %p= link_to t.name, course_subgroup_path(@course, t) 

