/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require foundation_and_overrides
 */
header {
  height: 48px;
  line-height: 48px;
  font-size: 14px;
  color: white;
  background: black;
}

#logo {
  font-family:'Inconsolata', sans-serif;
  position: relative;
  cursor: default;
  width: 120px;
  height: 2em;
  font-size: 18pt;
}
.letter {
  position: absolute;
}
.main-bg {
  background: #b8d30b;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  padding-bottom: 20px;
  font-size: 18pt;
}
.callout {
  padding-top: 40px;
  padding-bottom: 10px;
  font-size: 48pt;
  font-weight: 200;
}
